<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Some stuff that's recent and other stuff that's not.</title>
	<script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/thirds.js"></script>
    <!-- <script src="/search.js"></script> -->
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script>
	var content = {
		articleLeft: [],
		articleMid: [],
		articleRight: []
	};
	</script>
</head>
<body>
	<main>
		<section class="thirds one-third">
			<header class="header1">{{page.categories[0]}}</header>
			<article class="article1 hidden"  id="articleLeft">
				<ul>
					{% for post in site.posts %}
						{% if post.contentType == 'mymusic' %}
							<li>
							<h2><a href="https://johnnystomp.bandcamp.com/releases">{{ post.title }}</a></h2>
							<p>{{ post.excerpt }}</p>
							</li>
						{% endif %}
					{% endfor %}
					{% for post in site.posts %}
						{% if post.contentType == page.categories[0] %}
							<li>
							<h2><span onclick="linker(this)" class="link" data-link="{{ post.url }}">{{ post.title }}</span></h2>
							<p>{{ post.excerpt }}</p>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</article>
			<footer class="hidden">
				<div>
					<input class="search-input" type="text" name="music" placeholder="Search">
				</div>
				<div class="float-right">
					<span class="link bottom-link float-right" onclick="linker(this)" data-link="about/index.html">
						About
					</span>
				</div>
			</footer>
		</section>
		<section class="thirds two-third">
			<header class="header2">{{ page.categories[1] }}</header>
			<article class="article2 hidden"  id="articleMid">
				<ul>
					{% for post in site.posts %}
						{% if post.contentType == page.categories[1] %}
							<li>
							<h2><span onclick="linker(this)" class="link" data-link="{{ post.url }}">{{ post.title }}</span></h2>
							<em>{{ post.desc }}</em>
							<p>{{ post.excerpt }}</p>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</article>
			<footer class="hidden">
				<div>
					<input class="search-input" type="text" name="fiction" placeholder="Search">
				</div>
				<div class="float-right">
					<span class="link bottom-link float-right" onclick="linker(this)" data-link="about">
						About
					</span>
				</div>
			</footer>
		</section>
		<section class="thirds three-third">
			<header class="header3">{{ page.categories[2] }}</header>
			<article class="article3 hidden" id="articleRight">
				<ul>
					{% for post in site.posts %}
						{% if post.contentType == page.categories[2] %}
							<li>
							<h2><span onclick="linker(this)" class="link" data-link="{{ post.url }}">{{ post.title }}</span></h2>
							<p>{{ post.excerpt }}</p>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</article>
			<footer class="hidden">
				<div>
					<input class="search-input" type="text" name="nonfiction" placeholder="Search">
				</div>
				<div class="float-right">
					<span class="link bottom-link float-right" onclick="linker(this)" data-link="about">
						About
					</span>
				</div>
			</footer>
		</section>
	</main>
	<script>
	content.articleLeft.push($('#articleLeft'));
	content.articleMid.push($('#articleMid'));
	content.articleRight.push($('#articleRight'));
	</script>
</body>
</html>
